*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,5fr));
  grid-gap:30px;
  background: black;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 15px;
  color: #03e9f4;
  font-size: 3rem;
  font-weight: bold;
  transform: .5s;
  overflow: hidden;
  margin: 10px;
}
a:hover{
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, /* Al darle varias box-shadows, generamos el
                                efecto de reflejo */
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
              -webkit-box-reflect:below 1px linear-gradient(transparent,#0005);
              /*-webkit-box-reflect no es compatible con firefox*/
}

a:first-child{
  filter: hue-rotate(255deg);
}
a:last-child{
  filter: hue-rotate(175deg);
}
a:nth-child(3){
  filter: hue-rotate(80deg);
}
a:nth-child(4){
  filter:hue-rotate(300deg);
}
@media (max-width: 768px){
  .wrapper{
    flex-direction: column;
    align-items: center;
  }
  a{
    margin: 10px 0;
  }
}
